#main #navigation {
  background-color: transparent;
}

#page #main {
  text-decoration: none;
  font-family: Helvetica,Arial,Sans-Serif;
  font-style: normal;
}

header h2 {
  text-decoration: none;
}

h2 a {
  text-decoration: none;
}

li a {
  text-decoration: none;
}

#page #header {
  padding-left: 10px;
  background-color: #d1ffe1;
}

a span {
  padding-top: 0px;
  margin-top: 3px;
}

h1 a span {
  padding-top: 0px;
}

#header #name-and-slogan a span {
  padding-top: 5px;
}

